@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: linear-gradient(517deg, $bg-color, $bg-color1);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;

  .login-container {
    min-height: 50%;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    border-radius: 30px;

    .login-content {

      .login__image {
        background-color: #ffffff;
        border-radius: 30px 30px 0 0;
        top: 1%;
        padding: 20px;
        text-align: center;

        img {
          width: 90%;
          top: -12%;
          left: 2%;
        }
      }

      .login__form {
        width: 100%;
        margin: 20px 0;
        padding: 20px;

        input {
          font-size: 1rem;
          width: 100%;
          padding: 12px;
          border: 0;
          border-radius: 20px;
        }

        input[type="placeholder"] {
          color: lightgrey;
        }

        input:active, input:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }

        button {
          font-size: 1rem;
          width: 100%;
          padding: 12px;
          border: 0;
          border-radius: 20px;
          background-color: #ffffff;
          cursor: pointer;
          transition: .1s ease-in-out;
        }

        button:hover {
          color: #ffffff;
          background-color: $hover-color;
        }
      }
      
      .social__login {
        display: flex;
        justify-content: space-evenly;
        margin: 30px 0;

        .login__google {
          display: flex;
          align-items: center;
          background-color: #ffffff;
          padding: 10px;
          border-radius: 30px;

          img {
            height: 20px;
            width: 20px;
            margin-right: 10px;
          }

          p {
            font-size: .8rem;
          }
        }

        .login__apple {
          display: flex;
          align-items: center;
          background-color: #ffffff;
          padding: 10px;
          border-radius: 30px;

          img {
            height: 24px;
            width: 20px;
            margin-right: 10px;
          }

          p {
            font-size: .8rem;
          }
        }
      }
    }
  }
}

@media(min-width: 1098px) {
  body {
    .login-container {
      width: 70%;

      .login-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;

        .login__image {
          width: 50%;
          border-radius: 30px 0 0 30px;
        }

        .login__form {
          width: 50%;
          text-align: center;

          input {
            padding: 20px;
            border-radius: 40px;
          }

          button {
            width: 50%;
            padding: 20px;
            border-radius: 40px;
            margin: 0 auto;
          }

          .login__apple, .login__google {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

