@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(517deg, $bg-color, $bg-color1);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  #glass {
    background-color: #ffffff;
    min-height: 70vh;
    width: 60%;
  }
}

